body {
  padding: 0;
  margin: 0;
}
html, body, #map {
  height: 100vh;
  width: 100vw;
}

.info {
  width: 150px;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,1);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}